<h3>
  <%= @question.body %>
</h3>

<h5>Answers</h5>
<%= link_to 'New answer', new_question_answer_path(@question) %>
<ol><%= render @question.answers %></ol>

<%= link_to 'Back', test_path(@question.test) %>
