<h1 class="display-4">Gists</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Question</th>
      <th scope="col">Link</th>
      <th scope="col">User</th>
    </tr>
  </thead>
  <tbody>
    <%= render @gists %>
  </tbody>
</table>
