<h1>Result tests <%= @test_passage.test.title %></h1>

<b>Your result:
  <% if @test_passage.success? %>
    <span class="success">
  <% else %>
    <span class="fail">
  <% end %>
    <%= @test_passage.percent_correct %>%</span>
</b>

<p><%= link_to 'Tests list', tests_path %></p>
