<h1><%= t('.header', test_name: @test_passage.test.title) %></h1>

<b><%= t('.result') %>:
  <% if @test_passage.success? %>
    <span class="success">
  <% else %>
    <span class="fail">
  <% end %>
    <%= @test_passage.percent_correct %>%</span>
</b>

<p><%= link_to t('.tests_list'), tests_path %></p>
