<footer class="footer mt-auto py-3">
  <div class="container">
    <small>
      <span>
        <%= current_year %>,
        <%= github_url('Igor Lukashin', 'https://github.com/ilukashin/TN_TestGuru') %>
      </span>
      <span>No tests - no gurus. Find your destiny.</span> 
      <span>
        Learning Project at 
        <%= link_to 'Thinknetica', 'https://thinknetica.com/', target: '_blank' %> 
        Online School.
      </span> 
    </small>
  </div>
</footer>  
