<footer class="footer">
  <small>
    <p>
      <%= current_year %>,
      <%= github_url('Igor Lukashin', 'https://github.com/ilukashin/TN_TestGuru') %>
    </p>
    <p>No tests - no gurus. Find your destiny.</p>
    <p>
      Learning Project at 
      <%= link_to 'Thinknetica', 'https://thinknetica.com/', target: '_blank' %> 
      Online School.
    </p>
  </small>

</footer>  
