<footer class="footer">
  <small>
    <p>
      <%= Time.now.year %>,
      Igor Lukashin,
      <%= link_to 'TestGuru', 'https://github.com/ilukashin/TN_TestGuru', target: '_blank' %>
    </p>
    <p>No tests - no gurus. Find your destiny.</p>
    <p>
      Learning Project at 
      <%= link_to 'Thinknetica', 'https://thinknetica.com/', target: '_blank' %> 
      Online School.
    </p>
  </small>

</footer>  
